.simulation-tags {
  font-size: 14px;
  padding: 5px 10px;
  .menu-button {
    padding-bottom: 20px;
  }
  &_button {
    cursor: pointer;
  }
}

.simulate-download {
  margin-bottom: 10px;
}
.simulate-download-container {
  text-align: right;
  width: 100%;
}
