.scheduling-container {
  width: 30%;

  .time-view-container {
    display: flex;
    align-items: flex-end;
    margin-top: 24px;
    clear: both;
  }
}

.entity-type-setup-container {
  .list-item-container {
    display: flex;
  }
}
