@import '../../../../../styles/variables.less';

.title-code-updater-container {
  .title-updater-action-btn-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    button {
      margin: 0 0 0 @gutter * 0.84;
      min-width: 25%;
      max-width: 150px;
    }
  }
}
