@import '../../../../styles/variables.less';

.qr-code-container {
  padding-bottom: @gutter;
  align-items: center;
  justify-content: flex-end;
  .device-management-code-container {
    padding-right: @gutter;
  }
}
.qr-loader {
  padding-top: @gutter;
}
