.warning-container {
  padding: 0 5px;
  .warning-icon-red {
    color: #D92D20;
    font-size: 16px;
  }

  .warning-icon-orange {
    color: #dc6803;
    font-size: 16px;
  }
  .trigger-title {
    margin-left: 8px ;
    display: inline-block ;
  }
}
