.sf-log-detail-tab {
  .ant-tabs-tabpane {
    padding: 0px !important;
    padding-top: 24px !important;
  }
}
.sf-detail-tabs-container {
  padding-top: 24px;
  .no-data-container {
    height: 50%;
  }
}
.sf-log-drawer-title {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  .sf-log-drawer-title-tag {
    padding-left: 10px;
  }
}
.sf-log-filter-section {
  width: 40%;
  padding-bottom: 30px;

}
