@import '../../../styles/variables.less';

.gl-account-configuration {
  // @marginBottom: @gutter * 3.75;
  // border: unset;
  // margin-bottom: @marginBottom;
  // min-height: calc(100% - @marginBottom);
  padding: @gutter;
  // background: #f5f8fb;
  background: #fff;
  height: 100%;

  .form-container {
    width: 60%;
    .tab-footer {
      // padding: @gutter * 0.67 @gutter * 2;
      float: right;
    }
  }
}
