@import '../../styles/variables.less';

.device-management-container {
  padding: @gutter;
  min-height: 100%;
  background: @grey1;
  border-radius: @borderRadious;
  align-content: baseline;
  margin: 0 !important;
  align-items: center;
 
}
