@import '../../styles/variables.less';
label.organisation-id-label {
  height: 32px;
  line-height: 32px;
}
.organisation-id-input {
  padding: 4px 11px;
  height: 40px;
}
.switch-tenant-button {
  border: 0;
  box-shadow: none;
}
.login-button-container {
  justify-content: end;
}
.redirect-message {
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  .icon-message {
    display: flex;
    flex-flow: column;
    align-items: center;
    .ant-icon {
      font-size: 1.2em;
    }
    .message {
      color: @darkTextColor;
    }
  }
}
