@import '../../styles/variables.less';
.container {
  padding: @gutter;
  // background: #f5f8fb;
  background: #fff;
  height: 115%;

  // .filter-bar-container {
  //   padding: 0 0 1rem 0;
  // }

  // .form-item {
  //   margin-bottom: 0;
  // }
}
