.app-component-drawer {
  &.no-header-border {
    .ant-drawer-header {
      border: none;
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    .bottomButtons {
      margin-left: 20px;
    }
  }
}
