@import '../../../../styles/variables.less';

.search-benefit-details-body {
  background-color: white;
  min-height: 100%;
  padding: @gutter*.5;

  .back-button {
    padding-bottom: @gutter*0.5;
  }

  .claim-details-container {
    .detail-View-componet {
      margin: 0 !important;

      .ant-col {
        .genral-form-section {
          padding: @gutter*.5 !important;
        }
        .form-receipt-detail-container {
          padding: @gutter*.5 !important;
        }
      }
    }
  }
}
