@import '../../../styles/variables.less';
.gl-account-configuration-container {
  display: block;
  padding: @gutter * 0.83;
  background: @grey1;
  border-radius: @borderRadius;
  min-height: 100%;
  .ant-drawer {
    .ant-drawer-content-wrapper {
      top: 84px;
      height: calc(100% - 84px);
    }
  }
}
