@import '../../../styles/variables.less';

.receipt-conatiner {
  display: block;
  padding: @gutter*1.25;
  background: @grey1;
  border-radius: @borderRadius;
  min-height: 100%;

  .dragger-container {
    margin-bottom: @gutter * 1.5833333333333333;
    // margin-bottom: @gutter * 2;

    .ant-upload-drag {
      background: @grey2;
      border: 1px dashed @grey5;
    }
  }

  // .receipt-list-container {

  // }
}
