.warning-container {
  padding: 0 5px;
  .warning-icon-red {
    color: #ff0000;
    font-size: 18px;
  }

  .warning-icon-orange {
    color: #ffa500;
    font-size: 18px;
  }
}

.warning-tooltip-card {
  .ant-tooltip-inner {
    color: #000;
    font-size: 14px;
    border-radius: 8px;
    padding: 12px;
  }
}
.border-red {
  .ant-tooltip-inner {
    background-color: #ffe6e6;
    border: 1px solid #ffcccc;
  }
}
.border-orange {
  .ant-tooltip-inner {
    background-color: #fff5e6;
    border: 1px solid #ffe0b3;
  }
}
.enforcement-tooltip-card {
  .ant-tooltip-inner {
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    padding: 6.059px 14.831px 5.397px 12.57px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
  }
}
