.receipt-container {
  display: block;
  width: 100%;
  .receipt-top-container,
  .dragger-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  .dragger-container {
    min-height: 350px;
  }
  .dragger-container span {
    display: block;
    width: 100%;
  }
}
