@import '../../styles/variables.less';

.reports-container {
  // background-color: #fff;

  .no-data-wrapper {
    background: @grey1;
    height: 100%;
  }
  .download-modal {
    width: 60% !important;
    .ant-modal-header {
      background-color: @grey3;

      .ant-modal-title {
        color: @grey9;
        font-weight: 600;
        font-size: 18px;
      }
    }

    .ant-modal-close-icon {
      color: @grey9;
    }

    .ant-modal-body {
      max-height: 500px;
      overflow-y: auto;
    }

    .download-item {
      // padding: @gutter*0.8;
      display: flex;
      align-items: center;
      padding-left: @gutter;
      padding-right: @gutter;

      &:not(:last-child) {
        border-bottom: 1px solid @grey3;
      }

      .icon-div {
        .icon {
          color: #1890ff;
          background-color: #e6f7ff;
          font-size: 24px;
          padding: @gutter*0.6;
          border-radius: @gutter;

          &.failed {
            background-color: @grey4;
            color: @grey6;
          }
        }
      }

      .container {
        flex: 1;
        margin-left: 12px;

        .file-name {
          font-size: 16px;
          font-weight: bold;
          color: @grey9;
        }

        &.FAILD {
          .file-name,
          .timestamp {
            color: @grey6;
          }
          // background: @grey4;
        }
      }

      .status-container {
        .ant-btn {
          border: none;
          &:not(.CMLTD) {
            cursor: not-allowed;
          }
        }
        .INQUE {
          color: #1890ff;
          background-color: #e6f7ff;
        }
        .GNRTG {
          color: @PENDNG;
          background: @PENDNGBg;
        }
        .FAILD {
          color: @grey6;
          background: @grey3;
        }
      }
    }
  }
  height: 100%;
  .iconStyle {
    color: #1890ff;
    font-size: 24px;
  }

  .icons {
    color: @grey9;
    font-size: 16px;
    margin-right: @gutter*0.25;

    &.disabled {
      color: @grey6;
    }
  }

  .itemCount {
    margin-left: 4px;
    color: @grey9;
    &.disabled {
      color: @grey6;
    }
  }

  .ant-drawer-content-wrapper {
    top: 130px;
    height: calc(100% - 130px);
  }

  .skeleton-container {
    background: #fff;
    height: 100%;
    width: 100%;
    padding: 40px;
  }

  .empty-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .textContainer {
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .noExpenseText {
    color: #4e555c;
    font-size: 20px;
    line-height: 28px;
    font-family: Poppins;
  }

  .addText {
    color: #4e555c;
    font-size: 20px;
    line-height: 28px;
    margin-top: 28px;
    font-weight: bold;
  }

  .menuItemContainer {
    height: 100px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 10px;
  }

  .titleText {
    color: #4e555c;
    font-size: 14px;
    line-height: 22px;
    margin-top: 12px;
  }

  .iconStyle {
    color: #1890ff;
    font-size: 24px;
  }

  .select-all-container {
    padding: 0;
    padding-left: 13px;
    padding-bottom: 20px;
  }

  .ant-drawer.request-detail-drawer {
    .ant-drawer-body {
      padding-top: 0;
    }
  }

  .withdraw-modal,
  .user-details-modal {
    .ant-modal-header {
      background-color: @grey3;

      .ant-modal-title {
        color: @grey9;
        font-weight: 600;
        font-size: 18px;
      }
    }

    .ant-modal-close-icon {
      color: @grey9;
    }
    .ant-modal-footer {
      border-top: none;
    }
  }
}

.user-details-modal {
  .ant-modal-close-icon {
    color: @grey9;
  }
  .upper-div {
    display: flex;
    background: #ebf1f8;
    align-items: center;
    flex-direction: column;
    padding: 16px;
  }

  .profile {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
  .user-name {
    font-size: 16px;
    font-weight: 600;
    color: @grey9;
  }

  .user-position {
    color: #68737d;
    font-size: 14px;
  }
  .title {
    color: @grey8;
    font-size: 12px;
  }
  .value {
    color: @grey9;
    font-size: 14px;
    margin-top: 4px;
  }
}

.specialized-reports-container {
  .form-container {
    max-width: 400px;
    min-width: 40%;
    // margin: auto;
  }
}
