.title{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
}
.containerNew5{
    justify-content: space-between;
    padding: 10px;
    height: 70vh;
}
.radio-btn{
display: flex;
justify-content: space-between;
}
.listItem{
    justify-content:space-between;
}
.list-divider {
    border-top: 0.6px solid #D9D9D9;
  }
