@import '../../styles//variables.less';
.inbound-container {
  // padding: 20px;
  height: 100%;

  .ant-drawer {
    .ant-drawer-content-wrapper {
      top: 129px;
      height: calc(100% - 129px);
    }
  }

  .form-container {
    padding: 20px;
  }

  .inbound-scheduling-container {
    .manual-job {
      width: 100%;
      margin-top: @gutter*2;
      margin-bottom: @gutter*0.5;
    }
  }
  .transaction-item-detail {
    padding: 10px 0 0 !important;
  }
}
