@import '../../../../../styles//variables.less';

.request-configuration-form {
  .label-header {
    @commonCSS: {
      font-size: 1rem;
      line-height: 1.57rem;
      color: @primaryTextColor;
      margin: @gutter * 0.42 0px;
      font-style: normal;
      font-weight: 600;
    };
    &:not(.instruction-text-section) {
      @commonCSS();
    }
    &.instruction-text-section {
      label {
        @commonCSS();
      }
    }
    &.m-t-0 {
      margin-top: 0;
    }
  }
  .field-container {
    width: 50%;
  }
  .width-80-per {
    width: 80%;
  }
  .ant-form-item {
    margin-bottom: @gutter*0.42;
    .ant-form-item-label {
      text-transform: capitalize;
      // text-align: right;
      padding-bottom: 0;
      label {
        width: 100%;
        .custom-label {
          display: flex;
          flex: 1;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    & .quill {
      & * {
        font-family: 'Poppins' !important;
        border-color: @borderColor;
        border-radius: @borderRadious;
      }
      & .ql-editor {
        min-height: 100px;
      }
    }
    &.form-footer {
      text-align: right;
    }
  }
}
