.container{
    display: flex;
    height: 100%;
    padding: 10px;
}

.container-1{
    display: flex;
    
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: white
}
