@import '../../../styles/variables.less';

.benefit-form {
  padding: @gutter @gutter / 2;
  .benefit-type-label {
    margin-top: 15px;
  }
  .ant-picker {
    width: 100%;
  }
  .benefit-type-margin-top {
    margin-top: 15px;
  }
  .no-receipt-checkbox {
    margin-top: 40px;
  }
}
.benefit-custom-fields {
  padding: 0px 12px;
}
.prefix-currency {
  display: flex;
  flex: 1 1;
  align-items: flex-start;
  border: none;
  border-radius: @borderRadious;

  .prefix-value {
    display: inline-flex;
    flex: 1 1;
    justify-content: center;
    height: 100%;
    background: @grey2;
    padding: 0;
    color: @darkTextColor;
    border-radius: @borderRadious 0 0 @borderRadious;
    border-right: 0px solid @borderColor;
    border: 1px solid @borderColor;
    min-height: @formFieldHeight;
    align-items: center;
    max-height: 100%;
  }
  .prefix-main-element {
    display: inline-flex;
    flex: 5 1;
    border-radius: @borderRadious;

    & > *:first-child {
      // &>*:nth-child(1) {
      width: 100%;
      display: block;
    }
    .ant-form-item-control {
      & :first-child {
        max-height: fit-content !important;
      }
    }

    .ant-input-number {
      // border: none;
      border: 1px solid @borderColor;
      border-radius: 0 @borderRadious @borderRadious 0;
    }
  }
}

.default-value-benefit-btn-parent {
  display: flex;
  flex: 1 1;
  flex-direction: row;

  span {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
  }
  label {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
  }
  .default-value-benefit-link-btn-detail {
    height: auto;
  }
  .default-value-benefit-link-btn {
    display: inline-flex;
    flex: 1;
    padding: 0;
    margin: 0;
    span {
      color: #1890ff !important;
      text-decoration: underline;
      text-decoration-color: #1890ff;
    }
  }
}
.benefit-conversion-rate-field {
  label {
    display: flex !important;
    padding-bottom: 5px;
    align-items: flex-start;
  }
}
// .benefit-button-container {
//   float: right !important;
// }
