@import '../../../../styles//variables.less';

.chart-box {
  background-color: white;
  // border: 1px solid lightgray;
  // border-radius: 5px;
  // overflow: scroll;
  padding: 18px;
  box-shadow: 0 4px 5px 0 lightgray;

  .title {
    margin-bottom: 10px;
    font-size: 1.15em;
    font-weight: 700;
  }

  .stats {
    min-height: 5vh;
  }

  .line {
    min-height: 50vh;

    .chart-footer {
      padding-top: 8px;
      text-align: center;

      span {
        margin: 0 10px;
      }
    }
  }

  .pie {
    min-height: 50vh;
  }

  .scatter {
    min-height: 50vh;

    .chart-footer {
      padding-top: 8px;
      text-align: center;
      font-size: 14px !important;

      span {
        margin: 0 10px;
      }
    }
  }

  .table {
    min-height: 50vh;
  }
}
