@import '../../styles/variables.less';

.legal-entity-listing-container {
  background: @grey1;

  .app-drawer-legal-entity-listing {
    .ant-drawer-content-wrapper {
      top: 80px;
      height: calc(100%-80px);
    }
  }

  .action {
    padding: 0;
  }
}
