.child-1{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: 60%;
    
}

.child-2{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: 40%;
}

.maincontainer-1{
    padding: 10px;
 //   width: 50px 50px;

}
.child{
    display: flex;
    gap: 15px;
}

.child-3{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    display: flex;
    width: 60%;
}

.child-4{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    display: flex;
    width: 40%;
}

.child-5{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 20px;
}
