.petty-cash-container {
  background: #F5F8FB !important;
  padding: 12px;
}

.cell {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cell--value {
  color: #292929;
}